.logo-wrapper {
  filter: drop-shadow(0 0 10rem var(--m));
  width: toRem(350);

  @media (max-width: $lg) {
    width: toRem(300);
    transform: inherit;
  }

  @media (max-width: $zf) {
    width: 100%;
  }
}
